
body{
    margin: 0;
    background: #a0aec0;
    font-family: 'Nunito', sans-serif;
}
.logo{
    margin-left: 4em;
    width: 5em;
    height: 5em;
}
.lista_item{
    /*margin: 1em;*/
    /*list-style: none;*/
}
.link{
    font-size:1.5em;
    color: #a0aec0;
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: center;
}
.title{
    color: #a0aec0;
    font-size: 3em;
}
.footer{
    align-items: center;
}
.link_logo{
    fill: #a0aec0;
    width: 2em;
    height: 2em;
}
.img{
    width: 40em;
    height: 20em;
}
